body{
    margin:0;
    font-family:Arial, sans-serif;
    background:linear-gradient(180deg,#0b0b0d,#16161c,#0b0b0d);
    color:#fff;
}

header{
    background:rgba(20,20,25,.95);
    padding:20px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:2px solid #2da8ff;
    box-shadow:0 0 20px rgba(45,168,255,.3);
}

.logo h1{
    color:#2da8ff;
    margin:0;
    text-shadow:0 0 10px #2da8ff;
}

.logo p{
    color:#c7c7c7;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    transition:.3s;
}

nav a:hover{
    color:#2da8ff;
}

.mod{
    background:#1b1b22;
    width:300px;
    padding:20px;
    margin:20px auto;
    border-radius:15px;
    border:1px solid #2da8ff;
    box-shadow:0 0 15px rgba(45,168,255,.2);
}

button{
    background:#2da8ff;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.05);
}
.banner{
    height:350px;
    background:
    linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.8)),
    url("imagens/banner.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.banner-texto h2{
    font-size:45px;
    color:white;
    text-shadow:0 0 15px #2da8ff;
}

.banner-texto p{
    font-size:18px;
    color:#ddd;
}

.banner button{
    margin-top:20px;
    font-size:18px;
}


.mods{
    padding:40px;
    text-align:center;
}

.mods h2{
    color:#2da8ff;
    font-size:32px;
}

.lista-mods{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.card-mod{
    background:#1b1b22;
    width:300px;
    border-radius:15px;
    overflow:hidden;
    border:1px solid #2da8ff;
    box-shadow:0 0 15px rgba(45,168,255,.2);
    transition:.3s;
}

.card-mod:hover{
    transform:translateY(-8px);
}

.card-mod img{
    width:100%;
    height:170px;
    object-fit:cover;
}

.card-mod h3{
    color:#2da8ff;
}

.card-mod p{
    padding:0 15px;
    color:#ccc;
}

.galeria{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    justify-content:center;
}

.galeria img{
    width:300px;
    height:200px;
    object-fit:cover;
    border-radius:10px;
}
